extends layout

block content
  h1= title
  - const apple  = ['apple_type','quantity','cost']
  - let results;
  script.
    function buy(x){
      alert('Purchased Item: ' + x)
   } 
  div(class='container-fluid')
    div(class='row')
      each results, index in apple 
        div(class='col-sm-2' onclick='buy('+index+')') #{results}