extends layout

block content
  h1= title
  - const usa  = ['state','city','cost_of_living']
  - let results;
  script.
    function place(x){
        if x == 0
        alert('State')
        else if x == 1
        alert('City')
        else if x == 2
        alert('Cost of Living')

   } 
  div(class='container-fluid')
    div(class='row')
      each results, index in usa 
        div(class='col-sm-2' onclick='place('+index+')') #{results}